body{
    font-family: Arial, sans-serif;
    text-align:center;
    background:#fff0f5;   /* soft pink background */
    margin:0;
}

h1{
    background:#ff5fa2;   /* strong pink header */
    color:white;
    padding:20px;
}

nav{
    margin:20px;
}

nav a{
    margin:15px;
    text-decoration:none;
    font-weight:bold;
    color:#ff5fa2;
}

.event{
    background:white;
    padding:20px;
    width:60%;
    margin:20px auto;
    border-left:6px solid #ff5fa2;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

button{
    padding:15px 25px;
    background:#ff5fa2;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
    font-size:16px;
}

button:hover{
    background:#e0488b;
}